/************\
*** Global ***
\************/
:root {
    --primary-color: #0f1111;

    --background-color: #fff;
    --navbar-searchbar-backgroud-color: #131921;
    --navbar-primary-backgroud-color: #232f3e;
    --navbar-secondary-backgroud-color: #fafafa;
    --navbar-color: #fff;
    --heading-color: #1d1d1f;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Amazon Ember", Arial, sans-serif;
}

/******************\
****** Blocks ******
\******************/
/**** General ****/
.main-sprite {
    background-image: url(../assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
}

/**** Header ****/
/* Nav */
.nav-search {
    display: flex;
    background-color: var(--navbar-searchbar-backgroud-color);
    color: var(--navbar-color);
    height: 60px;
}

.delivery-info {
    margin-left: 3px;
}

/********************\
****** Elements ******
\********************/
/**** Header ****/
/* Nav */
.nav-search__logo {
    height: 100%;
    padding-top: 6px;
    margin-left: 18px;
    margin-right: 9px;
}

.nav-logo__link {
    display: inline-block;
    width: 97px;
    height: 30px;
    margin-top: 12px;
}

.nav-logo__img {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: -10px -51px;
}

.nav-search__delivery-location {
    display: flex;
    align-items: center;
    padding: 5px 9px;
}

.delivery-location__img {
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.delivery-info__text {
    height: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #ccc;
}

/*********************\
****** Modifiers ******
\*********************/
