/************\
*** Global ***
\************/
:root {
    --primary-color: #0f1111;

    --background-color: #fff;
    --navbar-searchbar-backgroud-color: #131921;
    --navbar-primary-backgroud-color: #232f3e;
    --navbar-secondary-backgroud-color: #fafafa;
    --navbar-color: #fff;
    --heading-color: #1d1d1f;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Amazon Ember", Arial, sans-serif;
}

/******************\
****** Blocks ******
\******************/
/**** General ****/
.main-sprite {
    background-image: url(../assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
}

/**** Header ****/
/* Nav */
.nav-search {
    display: flex;
    background-color: var(--navbar-searchbar-backgroud-color);
    color: var(--navbar-color);
    height: 60px;
}

.delivery-info {
    margin-left: 3px;
}

/********************\
****** Elements ******
\********************/
/**** Header ****/
/* Nav */
.nav-search__logo {
    height: 100%;
    padding-top: 6px;
    margin-left: 18px;
    margin-right: 9px;
}

.nav-logo__link {
    display: inline-block;
    width: 97px;
    height: 30px;
    margin-top: 12px;
}

.nav-logo__img {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: -10px -51px;
}

.nav-search__delivery-location {
    display: flex;
    align-items: center;
    padding: 5px 9px;
}

.delivery-location__img {
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.delivery-info__text {
    height: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #ccc;
}

.nav-search__searchbar {
    display: flex;
    flex: 1 1 auto;
    margin: 0 8px;
    padding: 10px 4px 10px 3px;
}

.searchbar__categories {
    display: flex;
    height: auto;
    width: auto;
    position: relative;
    padding-top: 3px;
    padding-left: 2px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-right: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
}

.searchbar__categories-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    margin-right: 22px;
    margin-left: 7px;
    min-width: 19px;
}

.searchbar__categories i {
    position: absolute;
    top: 17px;
    right: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

.searchbar__text {
    flex: 1 1 0px;
}

.searchbar__button {
    height: auto;
    width: auto;
}

/*********************\
****** Modifiers ******
\*********************/
