/************\
*** Global ***
\************/
:root {
    --primary-color: #0f1111;
    --background-color: #fff;
    --navbar-searchbar-backgroud-color: #131921;
    --navbar-primary-backgroud-color: #232f3e;
    --navbar-secondary-backgroud-color: #fafafa;
    --navbar-color: #fff;
    --heading-color: #1d1d1f;
    --price-color: #b12704;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 101vh;
    overflow-x: hidden;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

main {
    max-width: 1500px;
    min-width: 1000px;
    margin: 0 auto;
    background-color: var(--background-color);
}

a,
h1,
h2 {
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0;
}

option {
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    line-height: 35px;
    font-family: inherit;
    cursor: pointer;
    color: #0f1111;
}

hr {
    border: none;
    border-top: 1px solid #e7e7e7;
}

b {
    font-family: "Amazon Ember Bold", "Amazon Ember", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
}

/******************\
****** Blocks ******
\******************/
/**** General ****/
.main-sprite {
    background-image: url(../assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
}

.flags-sprite {
    background-image: url(../assets/img/rzrQQdi0aRm6Dap.png);
}

.down-arrow {
    display: inline-block;
    margin: 6px 0 0 0.6em;
    width: 7px;
    height: 5px;
    background-image: url(../assets/img/McBZv0ZvnbehkIx.png);
    background-position: -90px -5px;
    vertical-align: text-top;
    opacity: 0.6;
}

.pipe-separator {
    color: #666;
    padding: 0 5px;
    margin: 0 3px;
}

.ssl-img {
    vertical-align: text-top;
    padding-right: 9px;
}

.large-plus {
    font-size: 24px;
    color: #565959;
}

/**** Header ****/
/* Nav Search */
.nav-search-dropdown {
    display: block;
    top: 2.5px;
    position: absolute;
    left: 0;
    height: 35px;
    width: auto;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    opacity: 0;
}

#nav-search {
    margin: 0 10px 0 8px;
}

.nav-search {
    display: flex;
    background-color: var(--navbar-searchbar-backgroud-color);
    color: var(--navbar-color);
    height: 60px;
}

.nav-search a,
.main-navbar a {
    border: 1px solid transparent;
    border-radius: 2px;
}

.nav-search a:hover,
.main-navbar a:hover {
    border: 1px solid white;
}

.delivery-info {
    margin-left: 3px;
    padding-bottom: 1px;
}

.language-menu,
.account-menu,
.orders-menu,
.cart-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.cart-menu {
    margin-right: 6px;
}

.cart-menu a {
    padding-bottom: 9px;
}

.cart-count {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 100%;
}

.main-navbar {
    display: flex;
    max-height: 39px;
    width: 100%;
    padding-left: 11px;
    background-color: var(--navbar-primary-backgroud-color);
    color: #fff;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 5px 0 6px 0;
}

.secondary-navbar {
    position: relative;
    height: 33px;
    margin: 0;
    padding: 0 9px 0 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fafafa;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
}

/**** Main ****/
.black-friday-banner {
    height: 45px;
    width: 100%;
}

.breadcrumb {
    margin-top: 4px;
    padding-left: 18px;
}

/* Product */
.alt-images {
    display: flex;
    flex-direction: column;
    width: 42px;
    padding-top: 4px;
    list-style-type: none;
}

.product-info {
    margin-left: 46.5%;
    margin-right: 270px;
}

.product-info hr {
    margin-bottom: 14px;
}

.award {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shipping-location {
    position: relative;
    margin-left: 21px;
    font-size: 12px;
}

.shipping-location:hover {
    text-decoration: none;
}

.shipping-location::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -21px;
    height: 14px;
    min-width: 16px;
    float: left;
    background-image: url(../assets/img/kIT-Lj9i1Bch8yi.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.product__right-col {
    width: 244px;
    float: right;
    margin-left: 20px;
}

.product-purchase {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
}

.product-purchase .price-info__price {
    margin-bottom: 4px;
}

.product-stock {
    margin: 9px 0 12px 0;
    font-size: 18px;
    line-height: 24px;
    color: #007600;
}

.product-quantity {
    position: relative;
    margin-bottom: 12px;
}

.purchase-btn {
    padding: 0 10px 0 11px;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
    cursor: pointer;
}

.purchase-btn:hover {
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.seller-container {
    display: grid;
    grid-template-columns: min-content auto;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 11px;
}

.return-policy i {
    margin: 5px 0 0 5px;
}

.gift-receipt {
    display: flex;
    padding: 2px;
    margin-bottom: 12px;
}

.wish-list {
    margin-top: 12px;
}

.info-icon {
    position: absolute;
    left: 12px;
    top: -1px;
    height: 18px;
    width: 18px;
    background-image: url(../assets/img/3-fm1Jbg4IHlyhq.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    background-position: -412px -29px;
}

/********************\
****** Elements ******
\********************/
/**** Header ****/
/* Nav Search */
.nav-search__logo {
    height: 100%;
    width: auto;
    padding-top: 5px;
    margin-left: 11px;
}

.nav-logo__link {
    display: inline-block;
    width: 113px;
    height: 50px;
    padding: 0 7px 0 5px;
    margin: 0 1px;
}

.nav-logo__img {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: -10px -39px;
}

.nav-search__delivery-location {
    display: flex;
    align-items: center;
    padding: 0 8px 0 6px;
    margin: 5px 2px;
}

.delivery-location__img {
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.delivery-info__text {
    height: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #ccc;
}

/* .delivery-info__country {
} */

.nav-search__searchbar {
    display: flex;
    flex: 1 1 auto;
    margin: 0 6px 0 8px;
    padding: 10px 4px 10px 3px;
}

.searchbar__categories {
    display: flex;
    height: auto;
    width: auto;
    position: relative;
    padding-top: 3px;
    padding-left: 2px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-right: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
}

.searchbar__categories:hover {
    background: #e3e6e6;
}

.searchbar__categories-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    margin-right: 22px;
    margin-left: 7px;
    padding-left: 1px;
    min-width: 19px;
}

.searchbar__categories i,
.language-menu i,
.account-menu i {
    position: absolute;
    top: 17px;
    right: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

.searchbar__text {
    flex: 1 1 0px;
    height: 40px;
    width: 100%;
}

.searchbar__text-input {
    height: 100%;
    width: 100%;
    border: none;
}

.searchbar__button {
    height: auto;
    width: auto;
}

.searchbar__submit {
    height: 100%;
    width: 45px;
    background-color: #febd69;
    background-position: 2px -280px;
    border: none;
    border-radius: 0 4px 4px 0;
}

.searchbar__submit:hover {
    background-color: #f3a847;
    cursor: pointer;
}

.nav-search__right {
    display: flex;
    gap: 2px;
    height: 100%;
    padding: 5px;
    height: 58px;
}

.language-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 8px 5px 0 9px;
}

.language-menu__container i {
    right: 8px;
    top: 30px;
}

.language-menu__flag {
    display: flex;
    align-items: center;
    width: 24px;
    height: 18px;
    margin: 0 15px 1px 0;
    padding: 0;
    background-position: 0 -130px;
}

.account-menu__container,
.orders-menu__container,
.cart-menu__link {
    padding: 0 8px 10px 8px;
    height: 50px;
}

.account-info__text,
.orders-info__text {
    height: 14px;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.account-info__title,
.orders-info__title,
.cart-info__title {
    position: relative;
    padding-right: 13px;
}

.orders-info__title {
    padding-right: 0;
}

.account-info__title i {
    top: 7px;
    right: -2px;
}

.cart-info__title {
    padding-bottom: 2px;
    padding-right: 0;
}

.cart-menu__link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cart-count .cart-count__count {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 13px;
    right: auto;
    top: 7px;
    width: 19px;
    padding-bottom: 2px;
    font-size: 16px;
    color: #f08804;
}

.cart-count__cart {
    display: inline-block;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    margin-bottom: 2px;
}

/**** Main Navbar ****/
.hamburger-menu__icon {
    display: flex;
    width: 17px;
    height: 14px;
    background-position: -172px -255px;
}

.hamburger-menu__label {
    padding-left: 5px;
    white-space: nowrap;
}

.main-navbar__fill {
    display: flex;
    font-family: inherit;
    flex: 1 1 auto;
}

.main-navbar__item {
    display: flex;
    align-items: center;
    margin: 5px 0 6px 0;
    padding: 6px 8px;
    font-size: 14px;
}

.main-navbar__deals {
    padding-left: 2px;
    padding-right: 10px;
}

.main-navbar__deals-link {
    display: block;
    padding: 5px 8px 6px 8px;
    margin: 5px 1px 6px 0;
}

.secondary-navbar a .secondary-navbar__item:first-child,
.secondary-navbar__item {
    position: relative;
    float: left;
    height: 31px;
    line-height: 33px;
    color: #333;
    font-size: 12px;
    padding: 0 11px;
}

/**** Main ****/
.banner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.breadcrumb__link {
    color: #565959;
    font-size: 12px;
}

.product__container {
    position: relative;
    min-width: 996px;
    margin-top: 17px;
    padding: 0 18px;
    padding-top: 0;
}

.product__container::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: calc(100% - 300px);
    bottom: -35px;
    border-top: 1px solid #ccc;
}

.product__display {
    display: flex;
    float: left;
    width: 45%;
    color: #565959;
    font-size: 14px;
    line-height: 20px;
}

.alt-images__item {
    height: 42px;
    margin-bottom: 8px;
    border: 1px solid #a2a6ac;
}

.display__main-image {
    margin-left: 1%;
}

.main-image__image {
    flex: 1 1 0;
    width: 100%;
    padding: 0 90px;
}

.main-image__caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info__title {
    font-size: 24px;
    line-height: 32px;
}

.product-info__store {
    font-size: 14px;
    line-height: 20px;
}

.product-info__rating {
    display: flex;
}

.product-info__star-rating {
    display: flex;
    position: relative;
}

.star-rating__stars {
    display: inline-block;
    height: 18px;
    width: 80px;
    background-image: url(https://m.media-amazon.com/images/S/sash/3-fm1Jbg4IHlyhq.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    background-position: -84px -28px;
}

.product-info__reviews {
    margin-left: 21px;
}

.product-info__reviews-link {
    font-size: 14px;
    line-height: 20px;
}

.award__image {
    height: 23px;
    margin-top: 5px;
    font-size: 12px;
}

.award__text {
    margin: 0 5px;
    padding-top: 2px;
}

.award__link {
    font-size: 12px;
}

.product-info__price {
    display: flex;
    margin-bottom: 8px;
}

.price-info__title {
    color: #565959;
    padding-right: 6px;
}

.price-info__price {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: var(--price-color);
}

.product-info__import-details {
    color: #565959;
}

.product-info__import-details a:hover {
    text-decoration: none;
}

.product-info__description {
    margin: 8px 0 16px 0;
    padding: 0 0 4px 18px;
}

.product-purchase__shipping-details {
    margin: 12px 0 22px 0;
}

.product-purchase__shipping-location {
    line-height: 16px;
}

.product-quantity__label {
    display: inline-block;
    height: 22px;
    padding: 0 4px 0 7px;
    color: #0f1111;
    background: #f0f2f2;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 #d5d9d980;
    font-size: 11px;
}

.product-quantity__label .down-arrow {
    width: 10px;
    height: 8px;
    margin-top: 3px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    background-position: -7px -102px;
}

.product-quantity__select {
    position: absolute;
    left: 0;
    padding-left: 25px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.product-quantity__select:hover + .product-quantity__label {
    background: #e3e6e6;
}

.add-btn {
    background: #ffd814;
    border-color: #fcd200;
    margin-bottom: 8px;
}

.add-btn:hover {
    background: #f7ca00;
    border-color: #f2c200;
}

.buy-btn {
    margin-bottom: 12px;
    background: #ffa41c;
    border-color: #ff8f00;
}

.buy-btn:hover {
    background: #fa8900;
    border-color: #e3931e;
}

.product-purchase__secure {
    margin-bottom: 11px;
}

.ships-from__label,
.seller__label {
    color: #565959;
    padding-right: 10px;
}

.ships-from__label,
.ships-from__text,
.seller__label,
.seller__text {
    font-size: 12px;
    line-height: 20px;
}

#gift-receipt__checkbox {
    height: 13px;
    width: 14.32px;
    vertical-align: top;
    position: relative;
    bottom: -3px;
    margin: 0 5px 0 2px;
}

.wish-list__button {
    display: block;
    height: 31px;
    padding: 0 10px 0 11px;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border: 1px solid;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
    font-size: 13px;
    line-height: 29px;
}

.share__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 4px 8px 0;
    height: 19px;
    gap: 8.5px;
}

.share__container .share__link:first-child {
    margin-bottom: 4px;
    font-size: 13px;
}

.share__link {
    display: inline-block;
    height: 17px;
}

.share__link-icon {
    display: inline-block;
    height: 17px;
    background-image: url(../assets/img/E6vgqiIirWgGb3f.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
}

/**** Bundle ****/
.bundle__container {
    clear: both;
    padding-left: 18px;
    padding-top: 6px;
}

.bundle__container h2 {
    color: #c60;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 4px;
}

.bundle-offer__visual {
    display: flex;
    padding: 9px 0 15px 4px;
}

.bundle-offer__images {
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
    line-height: 116px;
    margin-right: 25px;
    padding: 24px 0 0 6px;
}

.bundle-offer__images a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bundle-offer__price {
    margin: 24px 0;
    padding-bottom: 10px;
    padding-right: 10px;
}

.bundle-offer__total-price {
    color: #565959;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}

.bundle-offer__add-btn {
    font-size: 11px;
    height: 22px;
    margin-top: 4px;
    padding: 0 6px 0 7px;
    line-height: 20px;
}

.bundle-offer__sidenote {
    display: flex;
    position: relative;
    padding-left: 15px;
}

.bundle-offer__sidenote-text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 23px;
}

/*********************\
****** Modifiers ******
\*********************/
/**** General ****/
.link--bold {
    font-family: "Amazon Ember Bold", "Amazon Ember", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
}

.product--link {
    color: #007185;
}

.product--link:hover {
    color: #c7511f;
    cursor: pointer;
    text-decoration: underline;
}

.share__link-icon--email {
    width: 19px;
    background-position: -256px -220px;
}

.share__link-icon--facebook {
    width: 17px;
    background-position: -237px -151px;
}

.share__link-icon--twitter {
    width: 18px;
    background-position: -193px -105px;
}

.share__link-icon--pinterest {
    width: 17px;
    background-position: -138px -14px;
}

.bundle-offer__total-price--price {
    color: var(--price-color);
}
